{% extends 'base.html.twig' %}

{% block title service.libelle%}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <h1>{{ employe.libelle}}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

